docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'

process{
	withLabel: fastp{
	container = 'nanozoo/fastp'
	}
	
	withLabel: fastqc{
	container = 'staphb/fastqc'
	}
	
	withLabel: featurecounts{
	container = 'dsaha0295/featurecounts'
	}
	
	withLabel: hisat2{
	container = 'makaho/hisat2-zstd'
	}
	
	withLabel: star{
	container = 'otiai10/star-alignment'
	}
	
	withLabel: trim_galore{
	container = 'mskaccess/trim_galore'
	}
}

params.reads = "/home/simon/input/*_{1,2}.fq"
params.transcriptome = "/home/simon/input/hg19.fa"
params.gtf = "/home/simon/input/ref-transcripts.gtf"
